#navtop
{
	background-color:	#23375B;
	height: 50px;
	border-style: none;
	border-radius: 0px;
	color: #fff;
	width: 100%;
}
#useracc
{
	color:#fff;
}
#frstgrp
{
	border-bottom: 1px solid #fff;
	color: #2ad4a5;
}
#sidebrand
{
	height: 200px;
	background-color: #fff;
}
#navv
{
	color: #2ad4a5;
}
#sidebar
{
	background-color: #fff;
}
#logo
{
	margin-top: -15px;
	margin-right: -20px;
	width : 60px;
	height: 50px;
}

#collapse1
{
	background-color: rgba(0,0,0,0.3);
}
#collapse2
{
	background-color: rgba(0,0,0,0.3);
}
#collapse3
{
	background-color: rgba(0,0,0,0.3);
}
#collapse4
{
	background-color: rgba(0,0,0,0.3);
}
#btnSave
{
	background-color: #2ad4a5;
}
hr
{
	border-color:  #002B5C;
}
.panel-body
{
	background-color: #fff;
}
.nav-tabs > li.active > a:focus
{
	background-color: #2ad4a5;
	color: #fff;
}
.nav-tabs > .active > a
{
	color: #2ad4a5;
	background-color: #fff;
}
.buts
{
	background-color: #2ad4a5;
	color:#fff;
}
#title
{
	border-bottom: 2px solid #2ad4a5;
}
.dropdown-toggle
{
	color:#2ad4a5 ;
}
.dropdown-menu
{
	color: #2ad4a5;
}
/*#vert
{
	border-left: 2px solid white;
}*/
/*#heading
{
	background-color: #8eedcc;
	color:#fff;
}*/
.panel-body
{
	border: 1px solid #8ddfcc;
}
.but
{
	background-color:  #23375B;
	color: #fff;
}
.but:focus
{
	color: #fff;
}
.but:hover
{
	background-color: #8ddfcc;
	color: #fff;
}
h2
{
	border-left: 5px solid #23375B;
}
#vert
{
	color:black;
}