#navtop
{
	background-color:	#23375B;
	height: 50px;
	border-style: none;
	border-radius: 0px;
	color: #fff;
	width: 100%;
}
#useracc
{
	color:#fff;
}
#frstgrp
{
	border-bottom: 1px solid #fff;
	color: #2ad4a5;
}
#sidebrand
{
	height: 200px;
	background-color: #fff;
}
#navv
{
	color: #2ad4a5;
}
#sidebar
{
	background-color: #fff;
}
#logo
{
	margin-top: -15px;
	margin-right: -20px;
	width : 60px;
	height: 50px;
}

#collapse1
{
	background-color: rgba(0,0,0,0.3);
}
#collapse2
{
	background-color: rgba(0,0,0,0.3);
}
#collapse3
{
	background-color: rgba(0,0,0,0.3);
}
#collapse4
{
	background-color: rgba(0,0,0,0.3);
}
#btnSave
{
	background-color: #2ad4a5;
}
hr
{
	border-color:  #002B5C;
}
.panel-body
{
	background-color: #fff;
}
.nav-tabs > li.active > a:focus
{
	background-color: #2ad4a5;
	color: #fff;
}
.nav-tabs > .active > a
{
	color: #2ad4a5;
	background-color: #fff;
}
.buts
{
	background-color: #2ad4a5;
	color:#fff;
}
#title
{
	border-bottom: 2px solid #2ad4a5;
}
.dropdown-toggle
{
	color:#2ad4a5 ;
}
.dropdown-menu
{
	color: #2ad4a5;
}
/*#vert
{
	border-left: 2px solid white;
}*/
#heading
{
	background-color: #23375B;
	color:#fff;
}
.panel-body
{
	border: 1px solid #8ddfcc;
}
.but
{
	background-color:  #23375B;
	color: #fff;
}
.but:focus
{
	color: #fff;
}
.but:hover
{
	background-color: #8ddfcc;
	color: #fff;
}
h2
{
	border-left: 5px solid #23375B;
}
#vert
{
	color:black;
}
.modal-header
{
	background-color: #23375B;
	color: #fff;
}
.close
{
	color: #fff;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}